* {
  font-family: "Pridi", serif;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
}

/* Barra de navegação */
.nav {
  background-color: rgba(238, 2, 226, 0.842);
  position: fixed;
  width: 100%;
}
.nav ul {
  list-style-type: none;
}
.nav a {
  text-decoration: none;
  color: #ffffff;
}
.nav a:hover {
  text-decoration: underline;
}
.nav ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.nav .bar-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav ul li {
  width: 100px;
}
.nav li a {
  background-color: #0000ff;
  display: block;
  padding: 10px;
  margin: 0 2px;
  text-align: center;
}
.nav li a:hover {
  background-color: white;
  color: #0000ff;
}

/*
.nav ul li {
  float: left;
}
.nav ul::after {
  content: "";
  clear: both;
  display: block;
}
*/

/* Fim da barra de navegação */

/* Container */
.container {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 960px;
  margin: 0 auto;
}
/* Fim do container */
