* {
  font-family: "Pridi", serif;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
}

/* Barra de navegação */
.nav {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  z-index: 2;
}
.nav ul {
  list-style-type: none;
}
.nav a {
  text-decoration: none;
}
.nav a:hover {
  text-decoration: underline;
}
.nav ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.nav .bar-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav ul li {
  width: 100px;
}
.nav li a {
  display: block;
  padding: 15px;
  margin: 0 2px;
  text-align: center;
  color: #ffffff;
}
.nav li a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  text-decoration: none;
  border-bottom: #a8a8a8 solid 2px;
  font-weight: 900;
}

.nav li .login {
  background-color: #007bff;
}

.nav .logo-company a {
  font-weight: 900;
  display: block;
  padding: 13px;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-shadow: 0 0 8px #0000ff, 0 0 2px #48fff0;
  color: #ffffff;
}

.nav .logo-company a:hover {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 10px 10px 8px #000000, 0 0 2px #48fff0;
}

/*
.nav ul li {
  float: left;
}
.nav ul::after {
  content: "";
  clear: both;
  display: block;
}
*/
/* Fim da barra de navegação */

/* Header */
.header {
  /*background: linear-gradient(#0000ff, #48fff0, #a8a8a8, #ff0000);*/
  background-color: #007bff;
  background-image: url(../images/header.jpg);
  background-attachment: fixed;
  background-size: cover;
  /*background-repeat: no-repeat;
  background-position: 200px 10px;*/
  position: relative;
  z-index: 1;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: -1;
}

.aviao {
  position: absolute;
  animation-name: aviao;
  animation-duration: 5s;
  animation-timing-function: ease;
  /*animation-fill-mode: forwards;*/
  animation-delay: 2s;
  animation-iteration-count: 2;
  opacity: 1;
  top: 0%;
  left: 100%;
  display: none;
}

@keyframes aviao {
  0% {
    left: 100%;
    top: 0%;
  }
  50% {
    left: 50%;
    top: 0%;
  }
  80% {
    left: 50%;
    top: -100%;
  }
  85% {
    left: 50%;
    top: 0%;
  }
  100% {
    left: -100%;
    top: 0%;
    display: none;
  }

  /*0% {
    left: 100%;
    top: 60%;
  }
  20% {
    top: 10%;
  }
  80% {
    top: 60%;
  }
  100% {
    left: -100%;
    top: 10%;
  }*/

  /*
  from {
    left: 100%;
    opacity: 1;
  }
  to {
    left: -100%;
    opacity: 0;
  }
  */
}

.header .header-title {
  color: #ffffff;
  padding: 150px;
}
.header .header-title h1 {
  margin: auto;
  text-align: center;
  font-size: 3rem;
  /*box-shadow: 10px 20px 10px #000000, 0 0 20px #0000ff;*/
}
.header .header-title p {
  text-align: center;
}

/* Fim do header */

/* Container */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* Fim do container */

.overlay-form-login {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
  background-image: url(../images/vidro.png);
  background-repeat: no-repeat;
}
.overlay-form-login .form-login {
  border: solid #000000 1px;
  width: 300px;
  height: 300px;
  background-color: #a8a8a8;
  border-radius: 4px;
  margin: 150px auto;
  box-shadow: 0 0 20px #000000;
}

.overlay-title {
  background: linear-gradient(to top, #083c9c, #0000ff);
  text-align: right;
  font-weight: 900;
  padding: 2px;
}

.overlay-title a {
  background: linear-gradient(to top, #0000ff, #083c9c);
  display: inline-block;
  padding: 2px 7px;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
}

.overlay-body {
  padding: 15px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2px;
  color: #444649;
  border: #a8a8a8;
  border-radius: 0.25rem;
}

.btn {
  background: linear-gradient(to top, #0000ff, #083c9c);
  color: #fff;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  padding: 3px;
  margin: 5px 0;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(to top, #083c9c, #0000ff);
}

/* Section serviços */
/*
.container-responsive {
  background-color: yellow;
}
.container-responsive::after {
  content: "";
  clear: both;
  display: block;
}

.container-responsive div.servico {
  width: 50px;
  height: 50px;
  background-color: violet;
  margin: 5px;
  float: right;
}
*/

/*
.container-responsive {
  background-color: yellow;
  width: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.container-responsive div.servico {
  width: 50px;
  height: 50px;
  background-color: violet;
  margin: 5px;
  color: #0000ff;
}
.container-responsive div.last {
  color: #e69f1d;
}
*/

/*
@media screen and (max-width: 600px), screen and (min-width: 800px) {
  .container-responsive {
    background-color: #ff0015;
  }
}
*/

/* Fim Section serviços */

/* Exemplo de overflow */
.overflow-test {
  background-color: turquoise;
  margin: 20px auto 400px auto;
  width: 300px;
  height: 100px;
  border: #000 solid 1px;
  overflow: auto;
  /*transform: rotate(45deg);*/
}

.overflow-test p {
  width: 500px;
}

.anime div {
  border: #000 solid 1px;
  width: 400px;
  margin: 10px;
  position: relative;
  height: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class*="col"] {
  width: 100%;
  border: #000000 1px solid;
}
.container-responsive {
  background-color: #007bff;
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 576px) {
  .container-responsive {
    background-color: #880476;
    max-width: 540px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .container-responsive {
    background-color: #18d100;
    max-width: 720px;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .container-responsive {
    background-color: #1100ff;
    max-width: 960px;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container-responsive {
    background-color: #b20db8;
    max-width: 1140px;
    margin: auto;
  }
}
@media screen and (min-width: 1400px) {
  .container-responsive {
    background-color: #3b3b3b;
    max-width: 1320px;
    margin: auto;
  }
}

@media screen and (min-width: 576px) {
  .col-small-1 { width: 8.33%;}
  .col-small-2 { width: 16.66%;}
  .col-small-3 { width: 25%;}
  .col-small-4 { width: 33.33%;}
  .col-small-5 { width: 41.66%;}
  .col-small-6 { width: 50%;}
  .col-small-7 { width: 58.33%;}
  .col-small-8 { width: 66.66%;}
  .col-small-9 { width: 75%;}
  .col-small-10 { width: 83.33%;}
  .col-small-11 {width: 91.66%;}
  .col-small-12 {width: 100%;}
}

@media screen and (min-width: 768px) {
  .col-medium-1 { width: 8.33%;}
  .col-medium-2 { width: 16.66%;}
  .col-medium-3 { width: 25%;}
  .col-medium-4 { width: 33.33%;}
  .col-medium-5 { width: 41.66%;}
  .col-medium-6 { width: 50%;}
  .col-medium-7 { width: 58.33%;}
  .col-medium-8 { width: 66.66%;}
  .col-medium-9 { width: 75%;}
  .col-medium-10 { width: 83.33%;}
  .col-medium-11 {width: 91.66%;}
  .col-medium-12 {width: 100%;}
}

@media screen and (min-width: 992px) {
  .col-large-1 { width: 8.33%;}
  .col-large-2 { width: 16.66%;}
  .col-large-3 { width: 25%;}
  .col-large-4 { width: 33.33%;}
  .col-large-6 { width: 50%;}
  .col-large-7 { width: 58.33%;}
  .col-large-8 { width: 66.66%;}
  .col-large-9 { width: 75%;}
  .col-large-10 { width: 83.33%;}
  .col-large-11 {width: 91.66%;}
  .col-large-12 {width: 100%;}
}


.anime div a {
  background-color: rgb(0, 4, 255);
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100px;
  height: 30px;
  transition: left 2s;
  /*transition-delay: 1s;*/
  transition-timing-function: ease;
  transform: rotate(0deg);
  /*opacity: 0;*/
  position: absolute;
  left: 0;
}

.anime div a:hover {
  /*transform: rotate(90deg);*/
  left: 400px;
}

/*
@media print {
  h1 {
    font-size: 200pt ;
  }

  @page {
    margin-left: 2cm;
  }

  nav {
    display: none;
  }

  footer {
    page-break-before: always;
  }
}
*/

.logo-servicos {
  font-size: 4rem ;
  color: #007bff;
  cursor: pointer;
}
.logo-servicos:hover {
  font-size: 5rem ;
}
